/* all content and wrapper */
.all-content-wrapper {
    max-width: 1900px;
    margin: auto;
}

.all-content {
    margin-top: 50px;
}

/* SIDE NAV */
.side-nav-wrapper{
    background: var(--page-nav-light-color);
    backdrop-filter: var(--backdrop-filter);
    position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 0px;
    overflow: hidden;
    transition-property: height, top ;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), ease-in-out ;
    transition-duration: 0.8s, 0.4s;
}
.side-nav-wrapper.hamburger-active{
    height: calc(100vh - 50px);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), ease-in-out ;
}
.side-nav-wrapper.search-mobile-active{
    transition-duration: 0s, 0.4s;
    height: 100vh;
    top: 0px;
}
.side-nav{
    max-width: 650px;
    margin: auto;
}

/* side nav search wrapper */
.side-nav-search-wrapper {
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    overflow: hidden;
}

/* search text input */
.side-nav-search {
    display: grid;
    grid-template-columns: 0px 1fr 0px;
    align-items: center;
}

/* search input field */
.side-nav-search-input-wrapper { width: 100%;}
.side-nav-search-input {
    width: 100%;
    padding: 8px 38px 8px 35px;
    font-size: 18px;
    font-family: 'Sushant', sans-serif;
    border: 1px solid #dfdfdf;
    background: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.side-nav-search-input::placeholder { color: #aaa;}
.side-nav-search-input:focus { outline: none}

/* text cancel btn */
.side-nav-search-cancel-btn-wrapper{
    width: auto;
}
.side-nav-search-cancel-btn-text {
    padding: 10px 10px 10px 8px;
    width: auto;
    cursor: pointer;
    color: var(--color-blue);
    font-family: 'Sushant', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.5px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    opacity: 0.8;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}
.side-nav-search-cancel-btn-text:hover{opacity: 1;}

/* Animation for mobile search */
.side-nav-search {
    position: absolute;
    left: 10px;
    right: 10px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}
.side-nav-search.search-mobile-active{
    right: 71.3px;
}
.side-nav-search-cancel-btn-wrapper{
    position: absolute;
    right: -100vw;
    transition-property: right;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
}
.side-nav-search-cancel-btn-wrapper.search-mobile-active{
    right: 0px;
    transition-delay: 0s;
}

/* search logo */
.side-nav-search-logo {
    position: relative;
    left: 10px;
    top: 3px;
    opacity: 0.6;
}

/* side nav search cancel button */
.side-nav-search-text-remove-btn {
    position: relative;
    right: 30px;
    background: #ccc;
    width: 24px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 55%;
    cursor: pointer;
}

.side-nav-text-remove-btn-line {
    height: 1px;
    width: 10px;
    background: #1d1d1d;
    opacity: 0.9;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.side-nav-text-remove-btn-line-1 {
    top: 0.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.side-nav-text-remove-btn-line-2 {
    top: -0.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/* MOBILE SEARCH RESULT */
.mobile-search-result-wrapper{
    max-width: 600px;
    margin: auto;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100vh;
    height: calc(100vh - 130px);
    overflow: auto;
    opacity: 0;
    animation-name: mobile_result;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: opacity 0.15s ease-in-out ;
    -webkit-transition: opacity 0.15s ease-in-out ;
    -moz-transition: opacity 0.15s ease-in-out ;
    -ms-transition: opacity 0.15s ease-in-out ;
    -o-transition: opacity 0.15s ease-in-out ;
}
.mobile-search-result{
    padding: 15px;
}
.mobile-search-result-wrapper.search-mobile-active{
    animation-name: mobile_result_active;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: opacity 0.15s ease-in-out 0.15s;
    -webkit-transition: opacity 0.15s ease-in-out 0.15s;
    -moz-transition: opacity 0.15s ease-in-out 0.15s;
    -ms-transition: opacity 0.15s ease-in-out 0.15s;
    -o-transition: opacity 0.15s ease-in-out 0.15s;
}
@keyframes mobile_result_active {
    0%{ top: 100vh; }
    40%{ top: 85px; }
    100%{ top: 80px; }
}
@keyframes mobile_result {
    0%{ top: 80px; }
    40%{ top: 85px; }
    100%{ top: 100vh; }
}

.mobile-search-result-wrapper::-webkit-scrollbar{width: 10px; }
.mobile-search-result-wrapper::-webkit-scrollbar-thumb{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.mobile-search-result-wrapper:hover::-webkit-scrollbar-thumb{background: #ddd; }
.mobile-search-result-wrapper::-webkit-scrollbar-thumb:hover{background: #ccc; }
.mobile-search-result-wrapper::-webkit-scrollbar-thumb:active{background: #bbb; }

/* links and topic */
.side-nav-navigation {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    height:  calc(100vh - 130px);
    overflow: auto;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100px;
    opacity: 1;
    animation-name: side_nav;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: opacity 0.2s ease-in-out 0.2s;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s;
    -ms-transition: opacity 0.2s ease-in-out 0.2s;
    -o-transition: opacity 0.2s ease-in-out 0.2s;
}
.side-nav-navigation.search-mobile-active{
    top: 100vh;
    opacity: 0;
    animation-name: side_nav_active;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}
@keyframes side_nav_active {
    0%{ top: 80px; }
    50%{ top: 85px; }
    100%{ top: 100vh; }
}
@keyframes side_nav {
    0%{ top: 100vh; }
    40%{ top: 85px; }
    100%{ top: 80px; }
}
.side-nav-navigation::-webkit-scrollbar{width: 10px; }
.side-nav-navigation::-webkit-scrollbar-thumb{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.side-nav-navigation:hover::-webkit-scrollbar-thumb{background: #ddd; }
.side-nav-navigation::-webkit-scrollbar-thumb:hover{background: #ccc; }
.side-nav-navigation::-webkit-scrollbar-thumb:active{background: #bbb; }

/* links */
.side-nav-link-wrapper {
    border-bottom: 1px solid #ddd;
}

.side-nav-link-label {
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.side-nav-link-label-text {
    font-size: 13px;
    font-family: 'Sushant', sans-serif;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
}

.side-nav-link-list {
    padding: 0px 10px 15px 10px;
    list-style-type: none;
    list-style: none;
}

.side-nav-link-list-item {
    border-bottom: 1px solid #e7e7e7;
}

.side-nav-link-list-item:last-of-type {
    border-bottom: none;
}

.side-nav-link-list-item-anchor {
    font-size: 18px;
    font-family: 'Sushant', sans-serif;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #1d1d1d;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.side-nav-link-list-item-anchor:hover {
    color: var(--color-link);
}

/* topics */
.side-nav-topic-label {
    padding: 5px;
    margin: 10px 0px;
}

.side-nav-topic-label-text {
    font-size: 13px;
    font-family: 'Sushant', sans-serif;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
}

.side-nav-topic-list {
    padding: 0px 10px 15px 10px;
    list-style-type: none;
    list-style: none;
}

.side-nav-topic-list-item {
    border-bottom: 1px solid #eee;
}

.side-nav-topic-list-item:last-of-type {
    border-bottom: none;
    padding-bottom: 135px;
}

.side-nav-topic-list-item-anchor {
    font-size: 18px;
    font-family: 'Sushant', sans-serif;
    text-decoration: none;
    padding: 12px 10px;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #1d1d1d;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.side-nav-topic-list-item-anchor:hover {
    color: var(--color-link);
}
.side-nav-subtopic{
    height :0px;
    overflow: hidden;
}
.side-nav-subtopic-list{
    margin: 5px 25px 20px 25px;
    list-style-type: none;
    list-style: none;
    background: #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}
.side-nav-subtopic-list-item{
    border-bottom: 1px solid #e5e5e5;
}
.side-nav-subtopic-list-item:last-of-type{
    border: none;
}
.side-nav-subtopic-anchor{
    font-size: 18px;
    font-family: 'Sushant', sans-serif;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #1d1d1d;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.side-nav-subtopic-anchor:hover {
    color: var(--color-link);
}

/* side nav subtopics activate btn */
.side-nav-topic-list-item-anchor-wrapper{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.side-nav-subtopic-active-btn-wrapper{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -ms-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    width: 45px;
    aspect-ratio: 1 / 1;
}
.side-nav-subtopic-active-btn-wrapper:hover{
    opacity: 1;
}
.side-nav-subtopic-active-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    border-left: 1px solid #ddd;
}
.side-nav-subtopic-active-btn{
    width: 14px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 20px;
}
.side-nav-subtopic-active-btn-line{
    width: 1px;
    height: 100%;
    background: rgb(29, 29, 29);
    position: relative;
    transform-origin: bottom;
}
.side-nav-subtopic-active-btn-line-1{
    left: 0.55px;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.side-nav-subtopic-active-btn-line-2{
    left: -0.55px;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* subtopic activate btn */
.side-nav-subtopic-active-btn-line{
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.side-nav-subtopic-active-btn{
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.side-nav-subtopic-active-btn.topic-hamburger-active{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.side-nav-subtopic-active-btn-line-1.topic-hamburger-active{
    transform: rotate(-130deg);
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
}
.side-nav-subtopic-active-btn-line-2.topic-hamburger-active{
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
}

/* desktop nav */
@media screen and (min-width: 1001px) {
    .side-nav-link-wrapper, .side-nav-search-wrapper, .mobile-search-result-wrapper{ display: none; }

    .side-nav-wrapper{
        height: calc(100vh - 50px);
        width: 300px;
        position: fixed;
        top: 50px;
        left: auto;
        right: auto;
        background: rgb(250,250,247);
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
    .side-nav-navigation{
        position: static;
        height: 100%;
        padding: 10px;
    }
    .side-nav-topic-list{ 
        height: calc(100vh - 150px); 
        overflow-y: auto;
    }
    .side-nav-topic-list::-webkit-scrollbar{width: 10px; }
    .side-nav-topic-list::-webkit-scrollbar-thumb{
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .side-nav-topic-list:hover::-webkit-scrollbar-thumb{background: #ccc; }
    .side-nav-topic-list::-webkit-scrollbar-thumb:hover{background: #bbb; }
    .side-nav-topic-list::-webkit-scrollbar-thumb:active{background: #aaa; }


    /* list item */
    .side-nav-topic-list-item{ border-bottom: 1px solid #ebebeb; }
    .side-nav-topic-list-item-anchor{ padding: 15px 10px; }


    /* LABEL */
    .side-nav-topic-label{
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 20px;
    }
    .side-nav-topic-label-text{
        padding: 0px 20px 15px 20px;
        font-size: 18px;
        font-weight: 500;
    }

    /* subtopic */
    .side-nav-subtopic-list{
        background: #f2f2f2;
    }
    .side-nav-subtopic-list-item {
        border-bottom: 1px solid #e3e3e3;
    }
}